.address-item {
  position: relative;
}

.address-item::before {
  position: absolute;
  top: 0.5rem;
  left: -1rem;
  content: '';
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #000000;
}

.address-item:not(:last-child)::after {
  position: absolute;
  top: 0.5rem;
  left: calc(-1rem + 0.2rem);
  content: '';
  height: 130%;
  width: 1px;
  background-color: #000000;
}
