main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-template-areas: 'side-bar content';
  height: 100vh;
}

.side-bar,
.content {
  padding: 1rem;
}

.side-bar {
  grid-area: 'side-bar';
  text-align: center;
  height: 100%;
}

.content {
  grid-area: 'content';
  height: 100%;
  overflow: auto;
}
